POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespasswd
POSTGRES_DB=mattermost
MM_USERNAME=postgres
MM_PASSWORD=mmdatabasepassword
MM_DBNAME=mattermost
SITE_URL=Host(`chat.museum.naturalis.nl`)
BASE_PATH=/data

